@using System.Globalization
@model IQueryable<Movie>
@{
    var movie = Model.First();
}

<div class="language-csharp">

    <h4>Basic Usage</h4>
    <div class="row">
        <div class="col-md-6">
            @(await Html
                .TwoColumnGrid()
                .AddRowsForModel(movie)
                .RenderAsync())
        </div>
        <div class="col-md-6">
<pre><code>@@(await Html
    .TwoColumnGrid()
    .AddRowsForModel(movie)
    .RenderAsync())
</code></pre>
        </div>
    </div>

    <hr />

    <h4>Row Processor</h4>
    <div class="row">
        <div class="col-md-6">
            @(await Html
                .TwoColumnGrid()
                .AddRowsForModel(movie)
                .AddRowProcessor(kvp =>
                {
                    if (kvp.Key == "Name")
                        return new();
                    return new (kvp.Key, kvp.Value.ToUpper());
                })
                .RenderAsync())
        </div>
        <div class="col-md-6">
<pre><code>@@(await Html
    .TwoColumnGrid()
    .AddRowsForModel(movie)
    .AddRowProcessor(kvp =>
    {
        if (kvp.Key == "Name")
            return new();
        return new (kvp.Key, kvp.Value.ToUpper());
    })
    .RenderAsync()))
</code></pre>
        </div>
    </div>


    <hr />


    <h4>Add Specific Rows from Model</h4>

    <div class="row">
        <div class="col-md-6">

@(await Html
    .TwoColumnGrid()
    .AddRowsForModel(movie, builder => builder
        .AddRowFor(model => model.Name)
        .AddRowFor(model => model.Genre)
        .AddRowFor(model => model.Director))
    .RenderAsync())

        </div>
        <div class="col-md-6">
            <pre><code>@@(await Html
    .TwoColumnGrid()
    .AddRowsForModel(movie, builder => builder
        .AddRowFor(model => model.Name)
        .AddRowFor(model => model.Genre)
        .AddRowFor(model => model.Director))
    .RenderAsync())</code></pre>
        </div>
    </div>

    <hr />
    <h4>Add Arbitrary Rows</h4>

    <div class="row">
        <div class="col-md-6">

@(await Html
    .TwoColumnGrid()
    .AddRow("First Row", "I like this")
    .AddRowsForModel(movie)
    .AddRow("Another", "Row here")
    .AddRows(new Dictionary<string, object>
    {
        ["One"] = 1,
        ["Two"] = "Two",
        ["Now"] = DateTime.Now,
    })
    .RenderAsync())

        </div>
        <div class="col-md-6">
            <pre><code>@@(await Html
    .TwoColumnGrid()
    .AddRow("First Row", "I like this")
    .AddRowsForModel(movie)
    .AddRow("Another", "Row here")
    .AddRows(new Dictionary@("<")string, object>
    {
        ["One"] = 1,
        ["Two"] = "Two",
        ["Now"] = DateTime.Now,
    })
    .RenderAsync())</code></pre>
        </div>
    </div>

    <hr />
    <h4>CSS Adjustments</h4>
    <div class="row">
        <div class="col-md-6">
            @(await Html
            .TwoColumnGrid()
            .AddRowsForModel(movie)
            .Css(elements =>
            {
                elements.ClearAll();
                elements.Table
                    .AddClass("table")
                    .AddClass("table-sm");
                elements.Row.AddStyle("font-style:italic");
                elements.Label.AddStyle("width: 200px;");
                elements.Item.AddStyle("color:blue");
            })
            .RenderAsync())
        </div>
        <div class="col-md-6">
<pre><code>@@(await Html
    .TwoColumnGrid()
    .AddRowsForModel(movie)
    .Css(elements =>
    {
        elements.ClearAll();
        elements.Table
            .AddClass("table")
            .AddClass("table-sm");
        elements.Row.AddStyle("font-style:italic");
        elements.Label.AddStyle("width: 200px;");
        elements.Item.AddStyle("color:blue");
    })
    .RenderAsync())
</code></pre>
        </div>
    </div>

    <hr />
    <h4>Filter out Duplicates</h4>

    <div class="row">
        <div class="col-md-6">

            @foreach (bool b in new[] { true, false })
            {
                <div>Allow Dupes: @b</div>
                @(await Html
                    .TwoColumnGrid()
                    .AddRow("Row A", "A Stuff")
                    .AddRowsForModel(movie)
                    .AddRow("Row B", "B Stuff")
                    .AddRow("Row B", "B Stuff Again")
                    .AddRowsForModel(movie)
                    .AddRow("Row C", "C Stuff")
                    .Options(options => options.AllowDuplicates = b)
                    .RenderAsync())
            }
        </div>
        <div class="col-md-6">
<pre><code>@@(await Html
    .TwoColumnGrid()
    .AddRow("Row A", "A Stuff")
    .AddRowsForModel(movie)
    .AddRow("Row B", "B Stuff")
    .AddRow("Row B", "B Stuff Again")
    .AddRowsForModel(movie)
    .AddRow("Row C", "C Stuff")
    .Options(options => options.AllowDuplicates = b)
    .RenderAsync())</code></pre>
        </div>

    </div>

    <hr />
    <h4>Description List Format</h4>

    <div class="row">
        <div class="col-md-6">

            @(await Html
            .TwoColumnGrid()
            .Options(options =>
            {
                options.TwoColumnGridStyle = TwoColumnGridStyle.DescriptionList;
            })
            .AddRowsForModel(movie)
            .RenderAsync())

        </div>
        <div class="col-md-6">
<pre><code>@@(await Html
    .TwoColumnGrid()
    .Options(options =>
    {
        options.TwoColumnGridStyle = 
            TwoColumnGridStyle.DescriptionList;
    })
    .AddRowsForModel(movie)
    .RenderAsync())
</code></pre>
        </div>

    </div>

    <hr />

    <h4>Embed TwoColumnGrid</h4>

    <div class="row">
        <div class="col-md-6">
            @(await Html
            .TwoColumnGrid()
            .AddRowsForModel(movie)
            .AddTwoColumnGrid(
                label: "Embedded TwoColumnGrid",
                gridBuilder: grid => grid.AddRowsForModel(movie))
            .RenderAsync())
        </div>
        <div class="col-md-6">
<pre><code>@@(await Html
    .TwoColumnGrid()
    .AddRowsForModel(movie)
    .AddTwoColumnGrid(
        label: "Embedded TwoColumnGrid",
        gridBuilder: grid => grid.AddRowsForModel(movie))
    .RenderAsync())
</code></pre>
        </div>

    </div>

    <hr />

    <h4>Embed SimpleGrid</h4>

    <div class="row">
        <div class="col-md-6">
            @(await Html
            .TwoColumnGrid()
            .AddRowsForModel(movie)
            .AddSimpleGrid(
                label: "Embedded SimpleGrid",
                model: Model.Take(3),
                gridBuilder: grid => grid.AddColumnsForModel())
            .RenderAsync())
        </div>
        <div class="col-md-6">
<pre><code>@@(await Html
    .TwoColumnGrid()
    .AddRowsForModel(movie)
    .AddSimpleGrid(
        label: "Embedded SimpleGrid", 
        model: Model.Take(3), 
        gridBuilder: grid => grid.AddColumnsForModel())
    .RenderAsync())
</code></pre>
        </div>

    </div>


    <h4>Enums and Dates</h4>
    @{ 
        var sample = new SampleModel
        {
            SampleEnum = SampleEnum.Zero,
            RandomDate = new DateTime(2021, 04, 01, 12, 0, 0),
        };
    }
    <div class="row">
        <div class="col-md-6">
            @(await Html
                .TwoColumnGrid()
                .AddRowsForModel(sample)
                .AddRow("====", "====")
                .AddRowsForModel(sample, builder => builder
                    .AddRowFor(model => model.SampleEnum)
                    .AddRowFor(model => model.RandomDate)
                    .AddRow("Enum", sample.SampleEnum.ToString())
                    .AddRow("Date", sample.RandomDate.ToString(CultureInfo.InvariantCulture)))
                .RenderAsync())
        </div>
        <div class="col-md-6">
<pre><code>var sample = new SampleModel
{
    SampleEnum = SampleEnum.Zero,
    RandomDate = new DateTime(2021, 04, 01, 12, 0, 0),
};

@@(await Html
    .TwoColumnGrid()
    .AddRowsForModel(sample)
    .AddRow("====", "====")
    .AddRowsForModel(sample, builder => builder
        .AddRowFor(model => model.SampleEnum)
        .AddRowFor(model => model.RandomDate)
        .AddRow("Enum", sample.SampleEnum.ToString())
        .AddRow("Date", sample.RandomDate.ToString()))
    .RenderAsync())
</code></pre>

            <p>
                See the SimpleGrid sample on Enums and Dates for more details.
            </p>

        </div>

    </div>

</div>
