@using Sockethead.Razor.Grid;
@model IEnumerable<KeyValuePair<string, string>>
@{
    var options = ViewData["Options"] as TwoColumnGridOptions;
    var css = ViewData["CssOptions"] as TwoColumnGridOptionsCssOptions;
}

@if (options.TwoColumnGridStyle == TwoColumnGridStyle.Table)
{

<table @Html.Raw(css.Table)>
    @foreach (var kvp in Model)
    {
        <tr @Html.Raw(css.Row)>
            <td @Html.Raw(css.Label)><div class="text-right"><strong>@kvp.Key</strong></div></td>
            <td @Html.Raw(css.Item)> @kvp.Value?.ToString()</td>
        </tr>
    }
</table>

}
else if (options.TwoColumnGridStyle == TwoColumnGridStyle.DescriptionList)
{
<dl class="row">
    @foreach (var kvp in Model)
    {
        <dt class="col-sm-3 text-md-right" style='width: 140px;'>@kvp.Key</dt>
        <dd class="col-sm-9">@kvp.Value?.ToString()</dd>
    }
</dl>
}
else
{
    <div>Unsupported TwoColumnGridStyle @options.TwoColumnGridStyle</div>
}