@using Sockethead.Razor.Grid;
@model IEnumerable<KeyValuePair<string, string>>
@{
    var options = ViewData["Options"] as TwoColumnGridOptions;
    int labelWidth = options.LabelWidth ?? 140;
    string labelStyle = $"width: {labelWidth}px;";
}

@if (options.TwoColumnGridStyle == TwoColumnGridStyle.Table)
{

<table class="table table-sm table-striped" style="table-layout:fixed;">
    @foreach (var kvp in Model)
    {
        <tr>
            <td style='@labelStyle'><div class="text-right"><strong>@kvp.Key</strong></div></td>
            <td class="wrapword"> @kvp.Value?.ToString()</td>
        </tr>
    }
</table>

}
else if (options.TwoColumnGridStyle == TwoColumnGridStyle.DescriptionList)
{
<dl class="row">
    @foreach (var kvp in Model)
    {
        <dt class="col-sm-3 text-md-right" style='@labelStyle'>@kvp.Key</dt>
        <dd class="col-sm-9">@kvp.Value?.ToString()</dd>
    }
</dl>
}
else
{
    <div>Unsupported TwoColumnGridStyle @options.TwoColumnGridStyle</div>
}